@import "../abstract/constants";
@import "../abstract/mixins";
@import "../base/buttons";
@import "../base/footer";
@import "../component/hero";
@import "../component/skills";
@import "../component/portfolio";
@import "../component/video";
@import "../component/price";
@import "../component/contact";

[data-theme="dark"] {
    --body-color: #000;
    --text-color: #fff;
    --hover-color: #fff;
    --title-color: #bdae82; 
    --button-active-bg: #bdae82;
    --button-color: #bdae82;
    --button-active-color: #000;
    --nav-bg: #000;
    --burger-close: #fff; 
}

[data-theme="light"] {
    --body-color: #fff;
    --text-color: #000;
    --title-color: #000;
    --button-active-bg: #000;
    --button-color: #000;
    --button-active-color: #fff;
    --nav-bg: #fff;
    --burger-close: #000;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {    
    font-family: 'Inter', sans-serif;
    color: var(--text-color);    
    font-size: 2rem;
    background-color: var(--body-color);
}

.light-theme {
    background-color: $light-bg;
    color: $font-light-theme;
}

.wrapper {
    max-width: $content-width;
    margin: 0 auto;
    padding: 20px 20px;
}

body.lock {
    overflow: hidden;
}

h1 {
    font-family: 'Merriweather', serif;
    @include font ($size: 6rem, $weight: 700);
    margin: 0;
}

h2 {
    font-family: 'Merriweather', serif;
}

input, textarea {    
    display: block;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid $color-gold;
    padding-left: 20px;    
    color: $font-white;
    &::placeholder {
        font-family: inherit;
        color: $color-gold;
        font-size: 2rem;
    } 
    &:focus {
        outline: 0;
    }
}

.section-title {    
    overflow: hidden;     
    font-size: 4rem;
    font-weight: 700;
    color: var(--title-color); 
    text-align: center; 
    
    position: relative;

    &::after, &::before {
        position: absolute;
        display: block;
        content: "";
        width: 275px;
        height: 2px;
        background-color: var(--title-color); 
        right: 55.5%;
        top: 50%;
    }   

    &::after {
        left: 55.5%;
    }
}

.title-light-theme {
    color: $font-light-theme;
    &::after, &::before {
        background-color: $color-bg;
    }
    
}

a {
    transition: color .2s linear;
}

a:hover {
    color: $color-gold;    
}

@media (max-width: $tablet-width) {
    .wrapper {
        max-width: $tablet-width;
        margin: 0 auto;
        padding: 20px 60px;
    }

    h1 {
        @include font ($size: 3.2rem, $weight: 400);
    }

    .section-title {
        font-size: 3.2rem;
        &::after, &::before {
            width: 120px;
            height: 2px;
            right: 59%;
        } 
        &::after {
            left: 59%;
        }
    }

    
}