@import "../abstract/constants";
@import "../abstract/mixins";
@import "../base/buttons";
@import "../base/footer";
@import "../component/hero";
@import "../component/skills";
@import "../component/portfolio";
@import "../component/video";
@import "../component/price";
@import "../component/contact";

[data-theme="dark"] {
    --body-color: #000;
    --text-color: #fff;
    --hover-color: #fff;
    --title-color: #bdae82; 
    --button-active-bg: #bdae82;
    --button-color: #bdae82;
    --button-active-color: #000;
    --nav-bg: #000;
    --burger-close: #fff; 
    --title-bg: #000;
}

[data-theme="light"] {
    --body-color: #fff;
    --text-color: #000;
    --title-color: #000;
    --button-active-bg: #000;
    --button-color: #000;
    --button-active-color: #fff;
    --nav-bg: #fff;
    --burger-close: #000;
    --title-bg: #fff;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {    
    font-family: 'Inter', sans-serif;
    color: var(--text-color);    
    font-size: 2rem;
    background-color: var(--body-color);
}

.light-theme {
    background-color: $light-bg;
    color: $font-light-theme;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
}

body.lock {
    overflow: hidden;
}

h1 {
    font-family: 'Merriweather', serif;
    @include font ($size: 6rem, $weight: 700);
    margin: 0;
}

h2 {
    font-family: 'Merriweather', serif;
}

input, textarea {    
    display: block;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid $color-gold;
    padding-left: 20px;    
    color: $font-white;
    &::placeholder {
        font-family: inherit;
        color: $color-gold;
        font-size: 2rem;
    } 
    &:focus {
        outline: 0;
    }
}

.section-title {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid var(--title-color);
    margin: 10px 25% 18px;
    font-size: 4rem;
    line-height: 0.1;
    margin-top: 98px;

}
.section-title-inner {
    color: var(--title-color);
    background-color: var(--title-bg);
    padding: 0 20px;
    line-height: 0.1;
    
}

.title-light-theme {
    color: $font-light-theme;
    &::after, &::before {
        background-color: $color-bg;
    }    
}

a {
    transition: color .2s linear;
}

a:hover {
    color: $color-gold;    
}

@media (max-width: $content-width) {
    .wrapper {
        max-width: $tablet-width;
        margin: 0 auto;
        padding: 20px 60px;
    }

    h1 {
        @include font ($size: 3.2rem, $weight: 400);
    }

    .section-title {
        font-size: 3.2rem;
        width: 55.9%;
        margin: 96px 22% 18px;

    }    
}

@media (max-width: 767px) {
    html {
        font-size: 8px;
    }
    .wrapper {
        max-width: $mobile-width;
        padding: 20px 20px;
    }

    .section-title {
        margin-top: 30px;
    }
}

@media (max-width: 479px) {
    html {
        font-size: 6px;
    }
    .wrapper {
        max-width: $phone-width;
        padding: 20px 20px;
    }
}