.button {
    width: 220px;
    height: 55px;
    background-color: $color-gold;
    border: none;
    cursor: pointer;
    transition: color .2s linear;
    font-family: inherit;
    &:hover {
        color: $font-white;
    }
}

.portfolio-btn {
    background-color: transparent;
    color: var(--button-color);
    border: 2px solid $color-gold;
}

.portfolio-btn.btn-active {
    color: var(--button-active-color);
    background-color: var(--button-active-bg);
}

.button-price {
    position: absolute;
    bottom: 40px;
}

@media (max-width: $content-width) {
    .button-price {
        bottom: 40px;
    }
}

@media (max-width: 767px) {
    .button {
        width: 150px;
        height: 45px;
    }
}

@media (max-width: 479px) {
    .button {
        width: 120px;
        height: 30px;
    }
    
}