.button {
    width: 220px;
    height: 55px;
    background-color: $color-gold;
    border: none;
    cursor: pointer;
    transition: color .2s linear;
    font-family: inherit;
    &:hover {
        color: $font-white;
    }
}

.button-dark {
    background-color: transparent;
    color: $color-gold;
    border: 2px solid $color-gold;
}

.button-price {
    position: absolute;
    bottom: 43px;
}