.button {
    width: 220px;
    height: 55px;
    background-color: $color-gold;
    border: none;
    cursor: pointer;
    transition: color .2s linear;
    font-family: inherit;
    &:hover {
        color: $font-white;
    }
}

.portfolio-btn {
    background-color: transparent;
    color: $color-gold;
    border: 2px solid $color-gold;
}

.portfolio-btn.btn-active {
    color: #000;
    background-color: #bdae82;
}

.button-price {
    position: absolute;
    bottom: 43px;
}

@media (max-width: $tablet-width) {
    .button-price {
        bottom: 40px;
    }
}