.footer {
    background-color: $color-bg;
    color: $font-white;
    .footer-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 131px;
        font-style: normal; 
    }  

    .git span {
        padding: 0 14px;
        font-size: 1.8rem;
        font-weight: 400;
    }

    .rs {
        margin-left: 25px;
    }
    
    .social-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        a {
            display: block;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.3s;
            
            &:hover {
                filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
                contrast(87%);
            }
        }

        li:nth-child(1) a {            
            background-image: url("./assets/svg/inst.svg");
        } li:nth-child(2) a {            
            background-image: url("./assets/svg/fb.svg");
        } li:nth-child(3) a {            
            background-image: url("./assets/svg/tw.svg");
        } li:nth-child(4) a {            
            background-image: url("./assets/svg/pinterest.svg");
        }
    }
}

@media (max-width: $tablet-width) {
    .footer {
        .footer-box {
            display: block;     
            margin: 0 auto;  
            padding: 7px 0;     
            text-align: center;       
        }
        .git {
            display: block;
            margin-bottom: 20px;
            margin-left: -22px;
        }
        .rs {
            display: block;
            margin-left: 0px;
            margin-bottom: 23px;
            
        }
        .social-list {
            justify-content: center;
            padding-top: 5px;
        }           
    }
}