.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 131px;
    font-style: normal;
    

    .git span {
        padding: 0 14px;
        font-size: 1.8rem;
        font-weight: 400;
    }

    .rs {
        margin-left: 25px;
    }
    
    .social-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        
        a {
            display: block;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            background-position: center
        }

        li:nth-child(1) a {            
            background-image: url("./assets/svg/inst.svg");
        } li:nth-child(2) a {            
            background-image: url("./assets/svg/fb.svg");
        } li:nth-child(3) a {            
            background-image: url("./assets/svg/tw.svg");
        } li:nth-child(4) a {            
            background-image: url("./assets/svg/pinterest.svg");
        }
    }
}