:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-white: #FFFFFF;
  --font-gold: #9d8665;
  --font-dark: #000000;
  --font1: 22px;
  --font2: 32px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  padding: 75px 0;
}

.bg-dark {
  background-color: var(--bg-dark);
}

.color-white {
  color: var(--font-white);
}

.color-gold {
  color: var(--font-gold);
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;

  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
}

.underline-card-title {
  position: relative;
}

.underline-card-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 350px;
  height: 2px;
  background-color: var(--dark-red);
}

.container {
  max-width: 1440px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 25px 0 150px 0;
}

.logo { 
  position: relative;
  width: 50px;
  height: 34px;
  background-image: url("./assets/svg/logo.svg");
  background-repeat: no-repeat;
  color: var(--font-white); 
}


.text-logo {
  position: absolute;
  left: 60px;
  bottom: -6px; 
  
  font-family: 'Forum', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.78;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav {
  max-width: 720px; 
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font1);
  color: var(--font-white);
  line-height: 2.27;
  letter-spacing: 2px;
  font-weight: 100;
  transition: color .2s linear;
}

.nav-link:hover {
  color: var(--font-gold);
}

/* Welcome */

.welcome {
  padding-top: 150px;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-position: calc(65% + 270px) calc(100% + 30px);
  background-size: contain;
  height: 750px;

  background-color: var(--bg-dark);
  color: var(--font-white);

}

.section-title {
  font-family: 'Forum', cursive;
  font-size: 80px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.welcome-subtitle {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.14;
  letter-spacing: 2px;
  margin: 25px 0;
}

.discover-btn {
  width: 360px;
  height: 75px;

  background-color: var(--dark-red);
  border: 0;
  border-radius: 10px;

  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: var(--font-white);

  cursor: pointer;
  transition: background-color 0.2s linear;
}

.discover-btn:hover {
  background-color: var(--font-gold);
}

/* card item */

.cards-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 90px;
}

.card-item {
  display: block;
}

.card-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  padding: 0 0 10px 0;
}

.card-desc {
  font-size: 22px;
  font-weight: 100;
  line-height: 1.5;
  color: var(--font-dark);
}

/* Explore */

.explore {
  background-color: var(--bg-dark);
  color: var(--font-white);
}

.explore-box {
  display: flex;
  gap: 30px;
}

.underline-explore {
  position: relative;
}

.underline-explore::after {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 660px;
  height: 3px;
  background-color: var(--dark-red);
}

.explore-text {
  max-width: 670px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.75;
  margin: 100px 0;  
}

.explore-text span {
  color: var(--font-gold);
}

.explore-img {
  width: 100%;
}

/* video */

.video-box {
  position: relative;
  max-width: 1400px;
  width: 100%;
  height: 629px;
  margin-bottom: 40px;
}

.video {
  max-width: 1400px;
}

.play-video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%);
  border: 0;
  outline: 0;
  cursor: pointer;
  background-image: url("./assets/svg/play-video.svg");
  background-color: transparent;

  width: 220px;
  height: 220px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;  
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--bg-dark);
}

.buttons-video {
  display: flex;
  align-items: center;  
  gap: 30px;
  margin: 0 30px;
}

.play-pause { 
  border: 0;
  outline: 0;
  cursor: pointer;
  background-image: url("./assets/svg/play.svg");
  background-color: transparent;

  width: 23px;
  height: 30px;
}

.back-btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-image: url("./assets/svg/back.svg");
  background-color: transparent;
  width: 23px;
  height: 30px;
}

.next-btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-image: url("./assets/svg/next.svg");
  background-color: transparent;

  width: 26px;
  height: 30px;
}

.sound-btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-image: url("./assets/svg/sound.svg");
  background-color: transparent;

  width: 37px;
  height: 30px;
}

.full-screen-btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-image: url("./assets/svg/full-screen.svg");
  background-color: transparent;

  width: 36px;
  height: 36px;
}

.video-progress {
  -webkit-appearance: none;
  background: -webkit-linear-gradient(left, #24809E 0%, #24809E 40%, #C4C4C4 40%, #C4C4C4 100%);
  width: 820px;  
  height: 8px;
  outline: 0;
}

.video-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fff;
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  cursor: ew-resize;
}

.sound-progress {
  -webkit-appearance: none;
  background: -webkit-linear-gradient(left, #24809E 0%, #24809E 50%, #C4C4C4 50%, #C4C4C4 100%);
  width: 155px;  
  height: 8px;
  outline: 0;
}

.sound-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fff;
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  cursor: ew-resize;
}

.video-info {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.video-desc {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.73;

}

/* tickets */

.tickets {
  background-color: var(--bg-dark);
}

.ticket-box {
  display: flex;
  color: var(--font-white);
  padding: 100px 0 0 0 ;
}

.underline-tickets {
  position: relative;
}

.underline-tickets::after {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
}

.ticket-amount {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.radio-btn-container {
  display: flex;
  flex-direction: column;

}

.title-radio {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 60px;
}

.radio-btn {
  display: none;
}

.label-radio {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 60px;

  font-size: 22px;
  font-weight: 300;
  line-height: 1.7;
  cursor: pointer;
}

.radio-fake {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;

  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background-color: var(--bg-dark);
  border-color: var(--font-white);
  margin-right: 20px;
}

.radio-fake::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s;
}

.radio-btn:checked + .radio-fake::before {
  opacity: 1;
}

.amount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.calc-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.17;
  margin: 15px 0;
}

.ticket-counter {
  width: 150px;
  height: 50px;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

}

.amount-btn {
  border: 0;
  background: none;
  color: #fff;
  font-size: 40px;
  display: flex;
  cursor: pointer;
}

.minus-amount-btn {
  width: 20px;
  height: 4px;
  background-color: #fff;
  margin-left: 5px;
}

.amount-number {
  width: 40px;
  text-align: center;
  margin-left: 20px;
  background: none;
  border: 0;
  outline: 0;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.total-amount {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  margin: 50px 0;
}

.buy-now {
  width: 175px;
  height: 50px;

  font-size: 22px;
  font-weight: 300;
  line-height: 1.17;
  color: var(--font-dark);
  cursor: pointer;
  border-radius: 2px;
  border: 0;
  outline: 0;
  transition: 0.2s;
}

.buy-now:hover {
  background-color: var(--font-dark);
  color: var(--font-white);
  border: 2px solid #fff;
}

/* contacts */

.contacts-box {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.contact-name {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.17;
}

.contact-item {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.17;
  margin: 25px 0;
}

/* footer */

.footer {
  background-color: var(--bg-dark);
  height: 300px;
}

.footer-row {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.nav-list-column {
  display: flex;
  gap: 150px;
  margin-left: 270px;
}

.social-list {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 25px;
}

.social-item {
  position: relative;
  border: 2px solid #666666;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: 0.2s;
}

.social-item:hover {
  opacity: 0.8;
  background-color: #676767;
}

.icon-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}