.contact {
    background-color: var(--body-color);
    .contact-title {    
        text-align: right;
        background: transparent;
        padding-top: 50px;
        padding-bottom: 55px;
        padding-right: 223px;
        color: $color-gold;
        &::after, &::before {
            display: none;
        }
    }
    .container {
        background-image: url("./assets/img/contact-bg.jpg");        
        background-size: auto 700px;
        background-position: center center;
        background-repeat: no-repeat;
        margin-top: 68px;
        padding: 0px 20px;
        max-width: 1440px;
        margin: 0 auto;
    }

    .contact-wrapper {
        display: flex;
        justify-content: end;
        padding-bottom: 185px;
    }
}

.contact-form {    
    input, textarea {        
        width: 450px;
        height: 50px;
        margin-bottom: 20px;  
    }

    textarea {
        padding-top: 10px;    
        margin-bottom: 30px; 
        resize: none;   
    }
     
    .input-text {
        height: 100px;
    }
}

@media (max-width: $tablet-width) {
    .contact {
        .contact-title {
            padding-top: 108px;
            padding-right: 233px;
            padding-bottom: 0;
            text-align: center;
            padding-right: 0;
        }
        .container {
            background-size: 161%;
            margin-top: 0;
            background-position: center 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        .contact-wrapper {
            justify-content: center;
            padding-top: 26px;
            padding-bottom: 111px;
            
            .contact-form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }        
    }    
}