.header {
    background-image: url(./assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        background-image: url("./assets/svg/logo.svg");
        background-size: contain;
        background-repeat: no-repeat;  
        transition: 0.3s;
        width: 50px;        
        height: 50px;
        cursor: pointer;

        &:hover {
            filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
        }
    }

    .nav-container {
        display: flex;
        column-gap: 31px;
    }

    .toggle-lang {
        font-weight: 700;      
        letter-spacing: 2px;  
        margin-right: -5px;           

        span:hover {
            cursor: pointer;
            color: $color-gold;
            transition: color 0.2s linear;
        }
    }

    .burger {
        display: none;
        background-image: url("./assets/svg/burger.svg");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    }
}
