.hero {
    background-image: url('./assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}

.hero-content {
    padding-top: 170px;
    padding-bottom: 330px;
    margin-left: 60px;
    width: 500px;

    .hero-title {
        padding-bottom: 20px;
    }

    .hero-subtitle {
        @include font($size:2rem, $height: 2, $weight: 400);
        padding-bottom: 5px;
    }
}