.hero {
    position: relative;
    background-image: url('./assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    color: $font-white;
}

.hero-content {
    padding-top: 170px;
    padding-bottom: 330px;
    margin-left: 60px;
    width: 500px;

    .hero-subtitle {
        @include font($size:2rem, $height: 2, $weight: 400);
        padding-bottom: 5px;
        padding-top: 20px;
    }
}

@media (max-width: $content-width) {
    .hero {
        background-repeat: no-repeat;
        background-size: 128%;
        background-position: -6px -120px;
    }

    .hero-content {
        padding-top: 75px;
        padding-bottom: 135px;
        margin-left: 0;

        .hero-subtitle {
            max-width: 390px;
            padding-top: 15px;
            padding-bottom: 38px;
            line-height: 1.21;
        }
    }
}

@media (max-width: 767px) {
    .hero-content {
        padding-top: 30px;
        max-width: 450px;
        padding-bottom: 0px;

        .hero-subtitle {
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 479px) {
    .hero {
        background-position: -6px -80px;
    }

    .hero-content {
        max-width: 280px;
        padding-top: 0;
    }
}