.nav {
    .nav-list {
        display: flex;
        justify-content: space-between;
        column-gap: 33px;
    }        
}

.nav-link-active {
    color: $color-gold;
} 

@media (max-width: $tablet-width) {
    .nav {
        position: fixed;     
        z-index: 10;
        background-color: $color-bg;
        transition: right .4s linear;
        top: 0;
        right: -100%;
        padding: 150px 0 0 128px;
        width: 620px;
        height: 100vh;
        font-size: 3.4rem;
        overflow: auto;
        .nav-list {
            flex-direction: column; 
            row-gap: 50px;  
           
            li:last-child {
                display: none;
            }    
        }
    }

    .nav.nav-active {        
        right: 0;
    }
}
