.nav {
    .nav-list {
        display: flex;
        justify-content: space-between;
        column-gap: 33px;
    }

    .nav-link-active {
        color: $color-gold;
    }
}

@media (max-width: $tablet-width) {
    .nav-list {
        li {
            display: none;
        }
        
        li:last-child {
            display: block;
        }

        .nav-slash {
            margin: 0 4px;
        }
    }
}
