.portfolio {
    
    .portfolio-title {
        margin-top: 76px;
    }
    .portfolio-title:before {
        width: 240px;
        right: 57.9%;
    }
    .portfolio-title:after {
        width: 240px;
        left: 58%;
    }
    
    .button-list {
        display: flex;
        justify-content: center;
        column-gap: 5px;
        padding-top: 45px;
        padding-bottom: 60px;
    }

    .portfolio-images {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
}

@media (max-width: $tablet-width) {
    .button-list {
        flex-wrap: wrap;
    }
}

