.portfolio {
    .button-list {
        display: flex;
        justify-content: center;
        column-gap: 5px;
        padding-top: 78px;
        padding-bottom: 60px;
    }

    .portfolio-images {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
}

