.price {
    .price-title {
        padding-top: 78px;
    }
    .price-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 80px;

        .price-card {
            position: relative;
            border: 3px solid $color-gold;
            width: 450px;
            height: 505px;  
            text-align: center;          
            display: flex;
            align-items: center;            
            
            flex-direction: column;
            padding: 23px 105px;

            span {
                display: block;
            }

            .price-name {
                font-family: Merriweather;
                font-size: 28px;
            }

            .price-value {
                font-family: Merriweather;
                font-size: 2.4rem;
                font-weight: 700;
                color: $color-gold;
                padding: 15px 0 30px;
            }

            .price-description {
                font-size: 1.8rem;
                line-height: 1.9;
            }
        }
    }
}

@media (max-width: $tablet-width) {
    .price {
        .price-wrapper {
            flex-direction: column;
            justify-content: start;
            row-gap: 50px;
            padding-top: 72px;
    
            .price-card {
                width: 420px;
            }          
        }
    }
}