.price {
    .price-title {
        margin-top: 78px;
    }

    .price-title:before {        
        right: 55.1%;
        width: 276px;
        top: 49%;
    }
    .price-title:after {
        left: 55.2%;
        width: 276px;
        top: 49%;        
    }

    .price-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 78px;


        .price-card {
            position: relative;
            border: 3px solid $color-gold;
            width: 450px;
            height: 505px;  
            text-align: center;          
            display: flex;
            align-items: center;            
            
            flex-direction: column;
            padding: 23px 105px;

            span {
                display: block;
            }

            .price-name {
                font-family: Merriweather;
                font-size: 2.8rem;
            }

            .price-value {
                font-family: Merriweather;
                font-size: 2.4rem;
                font-weight: 700;
                color: $color-gold;
                padding: 15px 0 30px;
            }

            .price-description {
                font-size: 1.8rem;
                line-height: 2;
                min-width: 400px;
            }
        }
    }
}

@media (max-width: $content-width) {
    .price {
        .price-title {
            margin-top: 62px;
        }
        .price-wrapper {
            flex-direction: column;
            justify-content: start;
            row-gap: 50px;
            padding-top: 68px;
    
            .price-card {
                width: 420px;
                .price-description {
                    line-height: 2;
                }
            }          
        }
    }
}

@media (max-width: 767px) {
    .price {
        .price-wrapper {
            .price-card {
                max-width: 380px;
                max-height: 450px ;
            }
        }
    }
}

@media (max-width: 479px) {
    .price {
        .price-title {
            margin-top: 0;
        }
        .price-wrapper .price-card {
            max-width: 280px;
            max-height: 350px;
            .price-description {
                min-width: 170px;
                
            }
        }
    }
    
    
}