
.skills {    
    .skills-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.skills-card {
    width: 320px;
    height: 240px;  
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 62px 50px;
    text-align: center;
    margin-top: 46px;

    h4 {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 80px;
    }

    p {
        padding-top: 6px;
        font-size: 1.8rem;
        line-height: 36px;
    }
}

.skills-card:nth-child(1) {
    background-image: url('./assets/svg/camera.svg');       
}

.skills-card:nth-child(2) {
    background-image: url('./assets/svg/video.svg');       
}

.skills-card:nth-child(3) {
    background-image: url('./assets/svg/image.svg');       
}

.skills-card:nth-child(4) {
    background-image: url('./assets/svg/micro.svg');        
}

@media (max-width: $content-width) {
    .skills {
        .skills-title {
            margin-top: 78px;
        }
        .skills-cards {
            justify-content: start;
            column-gap: 44px;
            row-gap: 58px;
            margin-top: 80px;    
            padding-bottom: 63px;
        }
    }
    .skills-card {
        width: 300px;
        height: auto;
        margin-top: 0px;
        

        h4 {
            padding-top: 63px;
            padding-bottom: 3px;
            letter-spacing: 0.7px;
        }

        p {
            padding-top: 0;
            line-height: 1.16;
        }
    }
}

@media (max-width: 767px) {
    .skills {
        .skills-cards {
            justify-content: center;
            padding-bottom: 0;
        }
    }
}