.video {
    .video-player {
        padding-top: 76px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .video-play {
            background-image: url("./assets/svg/play.svg");
            background-repeat: no-repeat;
            position: absolute;
            width: 130px;
            height: 130px;
            background-color: transparent;
            border: none;

            cursor: pointer;
            transition: opacity 0.2s linear;
            &:hover {
                opacity: 0.5;
            }
        }
    }
} 
